       /* Estilos personalizados para o offcanvas */
        .offcanvas-custom {
            width: 250px;
            /* Ajuste a largura conforme necessário */
            border-radius: 0 20px 20px 0;
            /* Arredonda os cantos inferiores */
            position: fixed;
            /* Fixa o offcanvas na tela */
            top: 0;
            /* Alinha ao topo da tela */
            height: 100vh;
            /* Define a altura do offcanvas */
            background-color: #6759c3;
            color: white;
            overflow-y: auto;
            /* Adiciona barra de rolagem se o conteúdo exceder a altura */
            margin-top: 120px;
            /* Adiciona margem superior para criar espaço */
        }

        .offcanvas-header {
            padding: 1rem 1rem;
            /* Reduz o preenchimento do cabeçalho */
            margin-bottom: 0;
            /* Remove a margem inferior do cabeçalho */
        }

        .offcanvas-body {
            padding: 0;
            /* Remove o preenchimento do corpo */
        }

        .offcanvas-title {
            font-size: 1.25rem;
            color: white;
        }

        .nav-pills .nav-link {
            color: white;
            border-radius: 0;
            /* Remove o arredondamento dos links */
            padding: 0.75rem 1rem;
            /* Ajusta o preenchimento dos links */
        }

        .nav-pills .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            /* Efeito de hover sutil */
        }

        /* Estilo para o botão de menu */
        .menu-button {
            position: fixed;
            /* Fixa o botão na tela */
            top: 10px;
            left: 10px;
            background: none;
            border: none;
            color: black;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 1000;
            /* Garante que o botão esteja acima do offcanvas */
        }

        /* Ajuste para o conteúdo principal */
        .container-fluid {
            margin-left: 0;
            /* Remove a margem esquerda */
            padding-left: 0;
            /* Remove o preenchimento esquerdo */
        }

        .col {
            padding: 20px;
            /* Adiciona preenchimento ao conteúdo principal */
            padding-top: 20px;
            /* Adiciona preenchimento superior para evitar sobreposição */
        }

        /* Estilo para a imagem de perfil */
        .profile-image {
            width: 100px;
            /* Ajuste o tamanho conforme necessário */
            height: 100px;
            border-radius: 50%;
            /* Deixa a imagem redonda */

            background-size: 400px;
            /* Ajusta o tamanho da imagem */
            background-repeat: no-repeat;
            /* Impede a repetição da imagem */
            background-position: right top;

            
            
        }

        /* Estilo para o nome do usuário */
        .user-name {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        /* Estilo para a descrição do usuário */
        .user-description {
            font-size: 0.8rem;
            color: #ccc;
        }

        /* Estilo para o cabeçalho do offcanvas */
        .offcanvas-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centraliza os itens verticalmente */
            padding: 20px;
            /* Adiciona preenchimento ao cabeçalho */
        }

        /* Estilo para a lista de navegação */
        .nav-pills {
            margin-top: 20px;
            /* Adiciona espaço acima da lista */
        }

        /* Estilo para os itens da lista de navegação */
        .nav-item {
            width: 100%;
            /* Garante que os itens ocupem toda a largura */
        }

        /* Estilo para os links da lista de navegação */
        .nav-link {
            display: flex;
            align-items: center;
            /* Alinha os ícones e o texto verticalmente */
            padding: 10px;
            /* Adiciona preenchimento aos links */
        }

        .nav-link i {
            margin-right: 10px;
            /* Adiciona espaço entre o ícone e o texto */
        }

        @media (min-width: 1920px) {
            .offcanvas-custom {
                transform: none;
                /* Remove a animação de transição */
                visibility: visible !important;
                /* Garante que o offcanvas seja visível */
                left: 0;
                /* Alinha o offcanvas à esquerda */
            }

            .menu-button {
                display: none;
                /* Esconde o botão de menu */
            }

            .container {
                margin-left: 290px;
                max-width: 1600px;

                
                /* Ajusta a margem do conteúdo principal */
                padding-left: 0px;
                /* Ajusta o preenchimento do conteúdo principal */
            }
        }
        .col-crud {
            width: 20px;
        }
    
        .col-id {
            width: 40px;
        }
    
        .col-tipo {
            width: 150px;
        }
    
        .col-categoria {
            width: 400px;
        }
    
        .col-valor {
            width: 150px;
        }
    
        .col-data {
            width: 120px;
        }